@import "./shared.scss";

.Error {
  padding: px(60) px($main-padding) px(120);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;

  .logo {
    width: 100%;
    width: px(40);
    margin: 0 auto px(50);
    display: block;
    path {
      fill: $black;
    }
  }

  .innerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - #{px(320)});
    text-align: center;
  }

  .title {
    color: $orange;
    margin-bottom: px(5);
    @include animate-in-up(0.6, 0);
  }

  .text {
    @include animate-in-up(0.6, 0.15);
  }

  .list {
    text-align: center;
    width: px(190);
    margin: px(30) auto 0;

    @include breakpoint(desktopSm) {
      margin-top: px(70);
    }

    .listItem {
      position: relative;
      @include animate-in-up(0.6, 0.3);

      @include breakpoint(desktopSm) {
        &:hover {
          .arrow {
            transform: scale(1.15);
          }
        }

        .arrow {
          transform: scale(1);
          transform-origin: left bottom;
          transition: transform 0.3s;
        }
      }

      .link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include font-style(link);
        margin: px(20) 0;
      }
    }
  }
}
