@import "./shared.scss";

.Home {
  max-width: px($main-max-width);
  margin: 0 auto px(100);
  padding: px(20) px($main-padding) 0;

  @include breakpoint(tablet) {
    padding-left: px($tablet-padding);
    padding-right: px($tablet-padding);
  }

  @include breakpoint(desktopSm) {
    padding-bottom: px(10);
  }

  .landingContainer {
    padding-bottom: px(330);
    position: relative;

    @include breakpoint(desktopSm) {
      margin-bottom: px(100);
      padding-bottom: px(150);
    }

    .title {
      @include animate-in-up(0.6);
      strong {
        color: $orange;
        position: relative;
        font-weight: 400;
        font-style: normal;

        &::after {
          background-color: $orange;
          position: absolute;
          content: "";
          width: 100%;
          height: px(3);
          left: 0;
          right: 0;
          bottom: px(3);
        }
      }

      @include breakpoint(desktopSm) {
        max-width: px(720);
        margin-left: auto;
      }
    }

    .accentWrapper {
      @include animate-in(0.6, 0.3);
      bottom: px(75);
      margin-right: 10px;
      position: absolute;
      right: 0;
      transform: rotate(-90deg);
      width: 0px;

      @include breakpoint(desktopSm) {
        bottom: 0;
        left: px(5);
        right: unset;
      }

      .accent {
        @include font-style(h4);
        color: $orange;
        display: inline-block;
        font-family: $font-medium;
        text-transform: uppercase;
        margin-left: auto;
        white-space: nowrap;
      }
    }

    .arrow {
      background: transparent;
      border: none;
      cursor: pointer;
      @include animate-in(0.6, 0.3);
      bottom: 0;
      left: 0;
      position: absolute;
      width: px(189);
      overflow: visible;
      padding: 0;

      @include breakpoint(desktopSm) {
        left: auto;
        right: px(640);
        width: px(75);

        &:hover {
          svg {
            transform: translateY(px(40));
          }
        }
      }

      svg {
        overflow: visible;
        transition: transform 0.3s;
        @include ease(in-out-cubic);
      }
    }
  }

  .threeGrid {
    margin: 0;
    padding: px(50) 0;
    @include breakpoint(desktopSm) {
      margin-left: auto;
      width: px(790);
    }

    @include breakpoint(desktopSm) {
      display: flex;
      justify-content: space-between;
    }

    .itemOne {
      @include breakpoint(desktopSm) {
        width: 100px;
        order: 2;
        margin: px(10) px(80) 0 0;
      }
    }

    .itemTwo {
      margin: px(12) 0;
      max-width: px(600);

      @include breakpoint(desktopSm) {
        margin: 0 0 0 px(25);
        order: 3;
        width: px(600);
      }

      .bold {
        font-family: $font-medium;
      }
    }

    .itemThree {
      @include breakpoint(desktopSm) {
        order: 1;
        margin-top: px(10);
        padding-right: px(20);
      }
    }
  }

  .threeGrid {
    @for $i from 1 through 10 {
      &:nth-child(3n + #{$i}) {
        @include animate-in-up(0.6, $i * 0.3);
      }
    }
  }
}
