@import "shared.scss";

.Projects {
  position: relative;
  .projectsInner {
    padding: px(20) px($main-padding);
    min-height: calc(100vh - #{px(410)});
    @include animate-in-up(0.6);

    @include breakpoint(desktopSm) {
      min-height: calc(100vh - #{px(390)});
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .projectGroup {
      margin-bottom: px(20);

      .groupTitle {
        text-align: center;
        margin-bottom: px(10);
        @include font-style(link);
        font-weight: 500;
        font-family: $font-medium;
        letter-spacing: px(1);

        @include breakpoint(desktopSm) {
          margin-bottom: px(30);
        }
      }

      .list {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .listItem {
          @include font-style(h1);
          font-family: $heading-font;
          display: inline-block;
          margin-bottom: px(30);

          .link {
            border-bottom: 3px solid;
          }
        }
      }

      .listInactive {
        pointer-events: none;
      }
    }
  }
  $height: px(360);
  $desktopHeight: px(623);
  $largeHeight: px(750);

  .circle {
    @include animate-in(0.6);
    background-color: $orange;
    border-radius: 50%;
    box-sizing: border-box;
    height: $height;
    position: fixed;
    width: px(190);
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    top: calc(100vh / 3 - (#{$height}/ 3));

    @include breakpoint(tablet) {
      width: px(180);
    }

    @include breakpoint(desktopSm) {
      @include ease(in-out-quad);
      margin: 0 auto;
      top: calc(100vh / 2 - (#{$desktopHeight}/ 2 - 40));
      height: $desktopHeight;
      width: $height;
      transition: height 0.2s, width 0.2s, z-index 0.2s, top 0.2s;
      width: px(296);
    }

    @include breakpoint(desktopLg) {
      top: calc(100vh / 2 - (#{$largeHeight}/ 2));
      height: $largeHeight;
    }

    .link {
      padding: px(10) px(30);
      color: $beige;
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;

      .title {
        @include font-style(projectsCircle);
        text-align: center;
      }

      .arrowContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        bottom: px(25);
        right: 0;

        p {
          font-family: $font-bold;
        }

        .arrow {
          transform: rotate(45deg);
          margin-left: px(20);
          path {
            stroke: $beige;
          }
        }
      }
    }
  }

  .circleActive {
    @include breakpoint(desktopSm) {
      height: px(328);
      width: px(328);
      z-index: 1;
      margin: 0 auto;
    }
  }

  .overlay {
    @include breakpoint(desktopSm) {
      opacity: 0;
      background-color: $black;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      transition: opacity 0.5s;
      pointer-events: none;
      @include ease(in-out-quad);
      z-index: 3;
    }

    .bgImage {
      display: none;
    }

    @include breakpoint(desktopSm) {
      .bgImage {
        display: block;
        min-height: 100%;
        min-width: 100%;
      }
    }
  }

  .overlayActive {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    z-index: 0;
  }
}
