@import "../../../styles/shared.scss";

.PasswordPage {
  padding: px(60) px($main-padding) px(120);
  min-height: calc(100vh - #{px(600)});
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  @include breakpoint(tablet) {
    min-height: calc(100vh - #{px(200)});
  }

  @include breakpoint(desktopSm) {
    min-height: calc(100vh - #{px(360)});
  }

  .title {
    @include font-style(h4);
    text-transform: uppercase;
    font-family: $font-medium;
    margin-bottom: px(20);
  }

  .text {
    max-width: px(400);
    @include font-style(p2);
    margin-bottom: px(20);

    @include breakpoint(desktopSm) {
      margin-bottom: px(50);
    }

    .link {
      text-decoration: underline;
    }
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $black;
    max-width: 100%;

    @include breakpoint(tablet) {
      max-width: px(500);
    }

    .input {
      background: transparent;
      border: none;
      @include font-style(h1);
      font-family: $heading-font;
      max-width: calc(100% - #{px(50)});
      @include breakpoint(desktopSm) {
        max-width: calc(100% - #{px(70)});
      }
    }

    .button {
      background: transparent;
      border: none;
      cursor: pointer;

      .circleArrow {
        height: px(34);
        transform: rotate(-90deg);

        @include breakpoint(desktopSm) {
          height: px(65);
        }
      }
    }
  }
}
